In [17]:
%matplotlib inline
import matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from sqlalchemy.ext.automap import automap_base

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Part 1 - Prepare SQLAlchemy

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine

In [16]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)
conn = engine.connect()
# Create an engine for the `emoji.sqlite` database
#engine = create_engine("sqlite:///../Resources/emoji.sqlite", echo=False)

In [19]:
base=automap_base()

In [20]:
base.prepare(engine, reflect=True)

In [22]:
base.classes.keys()

['measurement', 'station']

In [25]:
# Preview the data model in Db Browser or a similar tool
# (do this to get a sense as to how the database is structured)
hawaii_df = pd.read_sql("SELECT * FROM measurement", conn)
hawaii_df

          id      station        date  prcp  tobs
0          1  USC00519397  2010-01-01  0.08  65.0
1          2  USC00519397  2010-01-02  0.00  63.0
2          3  USC00519397  2010-01-03  0.00  74.0
3          4  USC00519397  2010-01-04  0.00  76.0
4          5  USC00519397  2010-01-06   NaN  73.0
...      ...          ...         ...   ...   ...
19545  19546  USC00516128  2017-08-19  0.09  71.0
19546  19547  USC00516128  2017-08-20   NaN  78.0
19547  19548  USC00516128  2017-08-21  0.56  76.0
19548  19549  USC00516128  2017-08-22  0.50  76.0
19549  19550  USC00516128  2017-08-23  0.45  76.0

[19550 rows x 5 columns]

# Part 2 - Exploratory Climate Analysis

In [43]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# Calculate the date 1 year ago from the last data point in the database
#hawaii_df = pd.read_sql("SELECT * FROM measurement",conn)  (is this how to get last 12 months?)

query='''
    select date, 
    prcp

from measurement
where date between '2016-08-23' and '2017-08-23'
group by date

'''
hawaii_df = pd.read_sql(query, conn)
hawaii_df.head(20)

          date  prcp
0   2016-08-23  0.00
1   2016-08-24  0.08
2   2016-08-25  0.08
3   2016-08-26  0.00
4   2016-08-27  0.00
5   2016-08-28  0.01
6   2016-08-29  0.00
7   2016-08-30  0.00
8   2016-08-31  0.13
9   2016-09-01  0.00
10  2016-09-02  0.00
11  2016-09-03  0.00
12  2016-09-04  0.03
13  2016-09-05   NaN
14  2016-09-06   NaN
15  2016-09-07  0.05
16  2016-09-08  0.00
17  2016-09-09  0.03
18  2016-09-10  0.00
19  2016-09-11  0.05

In [44]:
# Save the query results as a Pandas DataFrame 
precipdate_df = pd.DataFrame(hawaii_df)
#and set the index to the date column
precipdate_df.set_index('date', inplace = True)

In [46]:
# Sort the dataframe by date
sorted_last_12_df = precipdate_df.sort_values(['date'], ascending=False)
sorted_last_12_df.head(20)

            prcp
date
2017-08-23  0.00
2017-08-22  0.00
2017-08-21  0.00
2017-08-20  0.00
2017-08-19  0.00
2017-08-18  0.00
2017-08-17  0.00
2017-08-16  0.00
2017-08-15  0.02
2017-08-14  0.00
2017-08-13  0.00
2017-08-12  0.00
2017-08-11  0.00
2017-08-10  0.00
2017-08-09  0.00
2017-08-08  0.00
2017-08-07  0.00
2017-08-06  0.00
2017-08-05  0.00
2017-08-04  0.02

In [48]:
# Use Pandas Plotting with Matplotlib to plot the data
sorted_last_12_df.sort_values('date', inplace=True)
sorted_last_12_df.set_index('prcp', inplace=True)

sorted_last_12_df['date'].plot(kind='barh')

plt.show()

KeyError: 'date'

In [50]:
# Use Pandas to calculate the summary statistics for the precipitation data

hawaii_df.describe()

             prcp
count  364.000000
mean     0.048709
std      0.204930
min      0.000000
25%      0.000000
50%      0.000000
75%      0.020000
max      2.620000

In [51]:
# Design a query to show how many stations are available in this dataset?
#stations_data = pd.read_excel('Resources/hawaii_measurements.csv')
#stations_data.head()
stations_csv = "Resources/hawaii_measurements.csv"

In [52]:
station1_df = pd.read_csv(stations_csv)
station1_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [56]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order. use sql querry

 
query = '''
    SELECT
       *
    FROM
        station  
'''

station1_df = pd.read_csv(query, conn)
station_df.head(20)

TypeError: object of type 'Connection' has no len()

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Part 3 - Data Analysis Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    # your code here
    
    return # your code here

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A DataFrame containing the daily normals, tmin, tavg, and tmax
    
    """
    
    # your code here
    
    return # your code here
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`